# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Secret tokens and configuration files
config.json
.env

# Build output
dist/
build/
out/

# Editor-specific files
.vscode/
.idea/

# Test files
*.test.js
test/

# Miscellaneous
.DS_Store
Thumbs.db
